extends layout

block content
  #wrapper-single
    .single-center
      .form-title-vertical
        h1 #{title}
    .single-center
      form.form-small(method='POST' action='/addWebsites')
        if websiteName && links
            .form-group
              input.big-input(style="margin-bottom: 20px;", type='text', name='name', value = websiteName )
            .form-group
              input.big-input(type='text', name='url1', value = links[0])
            if links[1]
              .form-group        
                input.big-input(type='text', name='url2', value = links[1])    
            if links[2]
              .form-group        
                input.big-input(type='text', name='url3', value = links[2])
            if links[3]
              .form-group          
                input.big-input(type='text', name='url4', value = links[3])
            if links[4]
              .form-group        
                input.big-input(type='text', name='url5', value = links[4])
            .form-redirect(style="width: 100%;")
              button.big-button(type='submit') Add Website
              button.big-button(type='submit') Reject Website
        else if !websiteName || !links
          .form-group
            p There are no more websites to add.
