extends layout

block content
  #my-div
    != react
  #front(style="margin-top: 15vh") 
    #front-top  
      #banner-left
          h2 We monitor career pages,<br> so you don't have to.
          p(style="max-width: 400px") Checking for new vacancies can be a hassle. With EavesJob, you simply select the career pages of organisations you're interested in. Whenever career opportunities appear, we'll shoot you an email.  
      #register-right
        .single-center(style="margin-top: 0")    
          .form-title
            h1 Join us!  
          form.form-small(method='POST' action='/register')
            .form-group
              //- label(for='name') Name:
              input.big-input.half(type='text', placeholder='First Name', name='firstName')
              input.big-input.half(type='text', placeholder='Last Name', name='lastName')
            .form-group
              input.big-input(type='email', placeholder='Your Email Address', name='email')
            .form-group
              input.big-input.half(type='password', name='password', placeholder='Password')
              input.big-input.half(type='password', name='confirmPassword', placeholder = 'Confirm Password')
            .form-group
              button.big-button(type='submit') Sign up
    #front-bottom
    script(type='text/javascript', src='./build/react.bundle.js')
        
    
