extends layout

block content
  #front
    #front-top 
      #banner
          h1 We monitor career pages,<br> so you don't have to.
          p Checking for new vacancies can be a hassle. <br> With EavesJob, you simply select the career pages of organisations you're interested in. Whenever career opportunities appear, we'll shoot you an email.  
          //- p Signing up is free, takes seconds, and will save you hours.
          #front-buttons  
            button(onclick="location.href='/register'") Sign Up Free
            button(onclick="location.href='/support'") Read More
        
