doctype html
html(lang="en")
  head
    title Eavesjob | #{title}
    script(type='text/javascript', src='/build/vendor.bundle.js')
    script(type='text/javascript', src='/build/app.bundle.js')
    script(type='text/javascript', src='/build/react.bundle.js')
  body
    include includes/header.pug    
    block content
