doctype html
html(lang="en")
  head
    title Eavesjob | #{title}
    script(type='text/javascript', src='./build/app.bundle.js')
    //- script(src='https://unpkg.com/prop-types@15.6/prop-types.js')

  body
    include includes/header.pug
    block content
