doctype html
html(lang="en")
  head
    title Eavesjob | #{title}
    //- script(type='text/javascript', src='./js/app.js')
    script(type='text/javascript', src='./build/app.bundle.js') 
    // link to js and css !!  
    //- script(type='text/babel', src='./js/app.jsx')
    //- script(src='https://unpkg.com/prop-types@15.6/prop-types.js')

  body
    include includes/header.pug
    block content
