extends layout

block content
  #wrapper-single    
    .single-center    
      .form-title
        h1 Log in
      form.form-small(method='POST' action='/login')
        .form-group
          input.big-input(type='text' id='email' placeholder='Your Email Address' name='email')
        .form-group
          input.big-input(type='password' id='password' placeholder='Your Password' name='password')
        .form-group    
          button.big-button(type='submit') Log in        

          
