doctype html
html(lang="en")
  head
    title Eavesjob | #{title}
    script(type='text/javascript', src='./build/vendor.bundle.js')
    script(type='text/javascript', src='./build/app.bundle.js')
  body
    #app
      != react
  script(type='text/javascript', src='./build/react.bundle.js')
