extends layout

block content
  #wrapper-single
    .single-center
      .form-title
        if title 
          h1 #{title}
        else if !title    
          h1 Register!
    .single-center    
      // register form
      form.form-small(method='POST' action='/register')
        .form-group
          //- label(for='name') Name:
          input.big-input.half(type='text', placeholder='First Name', name='firstName')
          input.big-input.half(type='text', placeholder='Last Name', name='lastName')
        .form-group
          input.big-input(type='email', placeholder='Your Email Address', name='email')
        .form-group
          input.big-input.half(type='password', name='password', placeholder='Password')
          input.big-input.half(type='password', name='confirmPassword', placeholder = 'Confirm Password')
        .form-group
          button.big-button(type='submit') Sign up
    .single-center
      .form-redirect 
          h2 Already a Member? 
          button.big-button(onclick="location.href='/login'") Login
