extends layout

block content
  #wrapper-single
    .single-center
      .form-title-vertical
        h1 #{title}
        p Fill in the name of a company, and one or more links to career pages of that company. Check the guidelines for submitting a company #[a(href="/support/guidelines") here].
    .single-center    
      form.form-small(method='POST' action='/requestWebsite')
        .form-group
          input.big-input(style="margin-bottom: 20px;", type='text', placeholder='Website Name', name='name')
        .form-group
          input.big-input(type='text', placeholder='Career Page URL (1)' name='url1')
        .form-group
          input.big-input(type='text', placeholder='Career Page URL (2) (optional)' name='url2')
        .form-group
          input.big-input(type='text', placeholder='Career Page URL (3) (optional)' name='url3')
        //- .form-group
        //-   input.big-input(type='text', placeholder='Career Page URL (4) (optional)' name='url4')
        //- .form-group
        //-   input.big-input(type='text', placeholder='Career Page URL (5) (optional)' name='url5')
        .form-group 
          p Once the the request comes through, we'll add the company to your subscribes automatically. Keep in mind this might take up to 24 hours.
        .form-group    
          button.big-button(type='submit') Submit Website
