@base: #619B8A;
@body: rgb(245,245,245);
@dark-grey: rgb(230,230,230);
@switchSize: 40px;
@headerHeight: 55px;

body, div, h1, h2, h3, p, header {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div, header, form, button, input, footer {
  display: flex;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
}

p {
  font-size: 1.2em;
}

@font-face {
    font-family: RobotoCondensed;
    src: url(./fonts/RobotoCondensed-Bold.ttf);
}

@font-face {
    font-family: RobotoRegular;
    src: url(./fonts/Roboto-Regular.ttf);
}

h1, h2, h3, h4, h5 {
  font-family: RobotoCondensed;
}

p, input {
  font-family: RobotoRegular;
}

#main {
  width: 100%;
  flex-flow: column;
}

header {
  width: 100%;
  justify-content: space-between;
  align-content: center;
  padding: 0 40px;
  height: 55px;
  background: @base;
  color: white;

  a {
    font-family: RobotoRegular;
    margin: 0 15px;
    font-size: 1.1em;
    text-decoration: none;
    color: white;
  }

  a#header-sign-up {
    padding: 5px 20px;
    margin: 0 20px;
    border: 2px solid @base;
  }

  #logo {
    align-items: center;
  }

  #menu {
    align-items: center;
  }
}

.container-single {
  width: 100%;
  flex-flow: column;
  margin-top: 15vh;

  .container-center {
    width: 100%;
    align-items: center;
    flex-flow: column;

    h1.title {
      font-size: 55px;
      margin: 0;
      font-family: RobotoCondensed;
      text-align: center;
    }

    p.subtitle {
      font-family: RobotoRegular;
      max-width: 450px;
      margin-bottom: 20px;
      text-align: justify;
    }

    p.subtitle:first-of-type {
      margin: 50px 0 20px 0;
    }

    .explain-single {
      width: 100%;
      flex-flow: column;
      align-items: center;
      margin: 30px 0;

      .explain-text {
        align-items: center;
        margin: 20px 0;

        img {
          margin: 0 10px;
          width: 30px;
          height: 30px;
        }

      }

    }
  }
}

.container-double {
  width: 100%;
  justify-content: space-around;

    .container-left {
      align-items: center;
      flex-flow: column;
      width: 55%;
      margin-top: 10px;

        h1.title {
          font-size: 60px;
          margin: 0;
          font-family: RobotoCondensed;
          text-align: center;
        }

        p  {
          font-family: RobotoRegular;
          text-align: justify;
          line-height: normal;
          max-width: 380px;
        }

        p:first-of-type {
          margin: 50px 0 20px 0;
        }
    }
}

#sidebar-nav {
  flex-flow: column;
  padding: 10%;

  a {
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    margin: 10px 0;
    padding: 5px 0;
    border-bottom: 2px solid @base;
  }
}

#two-thirds-page {
  width: 100%;
  padding: 40px 50px;
  justify-content: space-between;

  p {
    font-size: 1em;
  }

  #two-thirds-left {
    width: 70%;
    flex-flow: column;

    #search-website {
      padding: 30px 5%;
      background: #FFFFFF;
      border: 1px solid #EAEAEA;
      border-radius: 5px;
      margin-bottom: 30px;
      justify-content: space-between;
      align-items: center;

      .search-div {
        height: 40px;
        width: 50%;

        .search-form {
          width: 100%;

          .search-bar {
            width: 100%;
            justify-content: space-between;
            background: @dark-grey;

            input {
              flex: 10 1 50%;
              border: none;
              padding: 0 10px;
              background: none;
              outline: none;
              font-size: 1.1em;
            }

            button {
              border: none;
              width: 60px;
              justify-content: center;
              padding: 0;
              background: none;

              :hover {
                cursor: pointer;
              }

              img {
                width: 35%;
                height: auto;
              }


            }
          }
        }
      }
    }

    #website-list {
      padding: 30px 0;
      width: 100%;
      flex-flow: column;
      background: #FFFFFF;
      align-items: center;
      border: 1px solid #EAEAEA;
      border-radius: 5px;

      .single-website {
        width: 100%;
        border-bottom: 0.5px solid #EAEAEA;
        justify-content: space-between;
        align-items: center;
        padding: 12px 5%;
        font-size: 1.1em;

        .single-logo  {
          width: 10%;
          justify-content: flex-start;
        }

        .single-monitor  {
          width: 10%;
          justify-content: center;

          img {
            height: 20px;
            width: auto;
          }

          img:hover {
            cursor: pointer;
          }
        }

        .single-date {
          width: 25%;
          justify-content: flex-end;
        }

        .single-name {
          width: 55%;

        }
      }

      .single-website:nth-child(even) {
        // background: @dark-grey;
        background: linear-gradient(to right, @dark-grey, #FFFFFF);
      }

      .single-website:hover {
        background: @base;
      }

      .single-website:first-of-type:hover {
        background: #FFFFFF;
      }
    }

    #profile-premium {
      padding: 30px 5%;
      background: #FFFFFF;
      border: 1px solid #EAEAEA;
      border-radius: 5px;
      margin: 30px 0;
      justify-content: space-between;
      align-items: center;
    }

    #no-results {
      display: none;
      padding: 30px 5%;
      background: #FFFFFF;
      border: 1px solid #EAEAEA;
      border-radius: 5px;
      flex-flow: column;
      align-items: center;

      #results-text {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin: 30px 0;

        h2 {
            min-width: 100px;
            margin-right: 30px;
        }

        i {
          color: @base;
        }
      }

      #request-website {
        form {
          flex-flow: column;
        }

      }
    }
  }

  .right-sidebar {
    width: 25%;
    flex-flow: column;

    #monitored-websites, .request-website, #welcome-user {
      background: #FFFFFF;
      border: 1px solid #EAEAEA;
      border-radius: 5px;
      margin-bottom: 30px;
      flex-flow: column;

      .right-sidebar-title {
        width: 100%;
        padding: 30px 5%;
        height: 100px;
        align-items: center;
        justify-content: space-between;

        button {
          font-family: RobotoRegular;
          font-size: 1.1em;
          padding: 10px 20px;
          border: 0px;
          background: @base;
          border-radius: 5px;
          margin: 10px 0;
          outline: none;
        }

        button:hover {
          cursor: pointer;

        }
      }

      .single-website {
        width: 100%;
        border-bottom: 0.5px solid #EAEAEA;
        justify-content: space-between;
        align-items: center;
        padding: 12px 5%;
        font-size: 1.1em;

        .single-logo  {
          display: none;
        }

        .single-monitor  {
          width: 30%;
          justify-content: flex-end;

          img {
            height: 20px;
            width: auto;
          }

          img:hover {
            cursor: pointer;
          }
        }

        .single-date {
          display: none;
        }

        .single-name {
        }
      }

      .single-text {
        width: 100%;
        border-bottom: 0.5px solid #EAEAEA;
        justify-content: space-between;
        padding: 0 5% 12px 5%;
        font-size: 1.1em;
        justify-content: center;

        button {
          font-family: RobotoRegular;
          font-size: 1.1em;
          padding: 10px 20px;
          border: 0px;
          background: @base;
          border-radius: 5px;
          margin: 10px 0;
          outline: none;
        }

        button:hover {
          cursor: pointer;

        }
      }

      .single-website:nth-child(even) {
        background: linear-gradient(to right, @dark-grey, #FFFFFF 90%);
      }

      .single-website:hover {
        background: @base;
      }

      .single-website:first-of-type:hover {
        background: #FFFFFF;
      }

    }


  }
}

.container-right {
  width: 45%;
}

.container-center, .container-right {
  flex-flow: column;
  align-items: center;
}

.single {
  width: 500px;
  flex-flow: column;
  background: #FFFFFF;
  align-items: center;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  margin-bottom: 20px;

  .form-redirect {
    width: 80%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    button {
      width: 48%;
    }
  }

  .form-title {
    width: 80%;
    // margin: 20px 0;
    margin-top: 20px;
    justify-content: flex-start;

  }

  .form-title-vertical {
    width: 80%;
    margin: 20px 0;
    justify-content: flex-start;
    flex-flow: column;

    p {
      margin-top: 10px;
    }

    a {
      color: @base;
    }
  }

  .form-small {
    flex-flow: column;
    width: 80%;
    padding: 10px 0;

    .form-group {
      justify-content: space-between;

      input {
        width: 100%;
      }

      input.half {
        width: 48%;
      }

      button {
        width: 100%;
        margin: 15px 0;
        font-size: 1.1em;
      }

      p {
        padding: 0 10px;
        margin-top: 30px;
      }

    }
  }
}

.big-input {
  height: 45px;
  padding: 10px;
  margin-top: 15px;
  font-size: 1em;
  background: @dark-grey;
  border: 1px solid @dark-grey;
  outline: none;
  border-radius: 5px;
}

.big-button {
  height: 45px;
  padding: 10px;
  background: @dark-grey;
  outline: none;
  border-radius: 5px;
  background: @base;
  font-size: 1.1em;
  justify-content: center;

  a {
    text-decoration: none;
    color: black;
  }
}

button:hover, button:focus {
  cursor: pointer;
  color: white;
}

button:hover a, button:focus a {
  cursor: pointer;
  color: white;
}

input:focus, input:hover {
  border: 1px solid @base;
}

.switch{
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: @switchSize;
  height: calc(@switchSize / 2);
  border-radius: 60px;
  background-color: @base;

  .switch__toggle{
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  .switch__toggle:checked ~ .switch__label:before{
    transform: scale(0);
    opacity: .7;
  }

  .switch__toggle:checked ~ .switch__label:after{
    transform: translate3d(100%, -50%, 0);
  }

  .switch__toggle:checked ~ .switch__label {
    box-shadow: 0 0 0 1px white;
  }

  .switch__label{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    box-shadow: 0 0 0 1px @base;
    // somehow creates border;
  }

  .switch__label:before, .switch__label:after{
    content: "";
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: @body;
  }

  .switch__label:before{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 60px;
    transition: opacity .2s ease-out .1s, transform .2s ease-out .1s;
    transform: scale(1);
    opacity: 1;
  }

  .switch__label:after{
    top: 50%;
    z-index: 3;
    transition: transform .4s cubic-bezier(0.44,-0.12, 0.07, 1.15);
    width: calc(@switchSize / 2);
    height: calc(@switchSize / 2);
    transform: translate3d(0, -50%, 0);
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
  }
}

footer {
  width: 100%;
  padding: 30px 10%;
  background: @base;
  justify-content: space-between;
  margin-top: 50px;

  .footer-column {
    padding-left: 5%;
    height: 100%;
    flex-flow: column;
    width: 25%;

    a {
      font-family: RobotoRegular;
      margin: 3px 0;
      font-size: 1.1em;
      text-decoration: none;
      color: white;
    }

    h1, h4 {
      color: white;
      margin: 15px 0;
    }

  }
}
