@base: #619B8A;
@body: rgb(245,245,245);
@dark-grey: rgb(230,230,230);
@switchSize: 40px;
@headerHeight: 55px;
@black: #232323;
@background: #F5F5F5;

// This applies from 0px to 600px

body {
  background-color: @background;
}

body, div, h1, h2, h3, h4, p, header {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div, header, form, button, input, footer {
  display: flex;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  font-family: RobotoCondensed;
  color: @black;
}

p, input, a, button {
  font-family: RobotoRegular;
  font-size: 1em;
  text-decoration: none;
  color: @black;
}

p {
  > a {
    text-decoration: underline;
  }
}

.active {
  color: @black !important;
}

@font-face {
    font-family: RobotoCondensed;
    src: url(./fonts/RobotoCondensed-Bold.ttf) format('truetype');
}

@font-face {
    font-family: RobotoRegular;
    src: url(./fonts/Roboto-Regular.ttf) format('truetype');
}

#main {
  width: 100%;
  flex-flow: column;
}

header {
  width: 100%;
  justify-content: space-between;
  align-content: center;
  padding: 0 20px;
  height: @headerHeight;
  background: @base;

  #menu-left, #menu-right, #menu-center, #menu-mobile {
    align-items: center;

    a {
      margin: 0 15px;
      font-size: 1.1em;
      color: white;
    }
  }

  #menu-left, #menu-right {
    display: none;
    flex: 1 1 40%;
  }

  #menu-left {
    justify-content: flex-start;
  }

  #menu-right {
    justify-content: flex-end;
  }

  #menu-center {
    display: none;
    justify-content: center;
    flex: 1 1 20%;
  }

  #menu-mobile {
    width: 100%;
    justify-content: flex-end;
  }


}

.container-single {
  width: 100%;
  flex-flow: column;
  margin-top: 5vh;

  .container-center {
    width: 100%;
    align-items: center;
    flex-flow: column;

    .explain-single {
      width: 100%;
      flex-flow: column;
      align-items: center;
      margin: 30px 0;

      .explain-text {
        align-items: center;
        margin: 20px 0;

        img {
          margin: 0 10px;
          width: 30px;
          height: 30px;
        }
      }

      img {
        max-width: 100%;
      }

    }
  }
}

.container-double {
  width: 100%;
  flex-flow: column;
  align-items: center;

    .container-left {
      align-items: center;
      flex-flow: column;
      width: 100%;

        h1.title {
          font-size: 3em;
          margin: 0;
          font-family: RobotoCondensed;
          text-align: center;
        }

        p  {
          font-family: RobotoRegular;
          text-align: justify;
          line-height: normal;
          font-size: 1.2em;
          padding: 0 15%;
        }

        p:first-of-type {
          margin: 30px 0;
        }
    }
}

#sidebar-nav {
  flex-flow: column;
  padding: 20px 0;

  h2 {
    padding: 10px 10%;
    margin: 5px 0;
  }

  a {
    padding: 5px 10%;
    font-size: 1.1em;
    margin: 5px 0;
    border: 2px solid white;
  }

  a:hover {
    border-left: 2px solid @base;
    border-right: 2px solid @base;
  }

  a.active {
    color: @base !important;
  }

}

#two-thirds-page {
  width: 100%;
  flex-flow: column;
  align-items: center;
  padding: 40px 0;

  #two-thirds-left {
    width: 100%;
    flex-flow: column;

    #no-results {
      display: none;
      padding: 30px 5%;
      background: #FFFFFF;
      border: 1px solid #EAEAEA;
      border-radius: 5px;
      flex-flow: column;
      align-items: center;

      #results-text {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin: 30px 0;

        h2 {
            min-width: 100px;
            margin-right: 30px;
        }

        i {
          color: @base;
        }
      }

      #request-website {
        form {
          flex-flow: column;
        }
      }
    }
  }

  .right-sidebar {
    width: 100%;
    flex-flow: column;

    #monitored-websites, .request-website {
      background: #FFFFFF;
      border: 1px solid #EAEAEA;
      border-radius: 5px;
      margin-bottom: 30px;
      flex-flow: column;

      .right-sidebar-title {
        width: 100%;
        padding: 21.5px 5%;
        align-items: center;
        justify-content: space-between;
      }

      .website-single {
        width: 100%;
        border-bottom: 0.5px solid #EAEAEA;
        border-left: 2px solid white;
        border-right: 2px solid white;
        justify-content: space-between;
        align-items: center;
        padding: 12px 5%;

        .website-details, .website-date {
          display: none;
        }

        .website-monitor  {
          width: 30%;
          justify-content: flex-end;
        }

      }

      .website-single:hover {
          border-left: 2px solid @base;
          border-right: 2px solid @base;
      }

      .single-text {
        width: 100%;
        border-bottom: 0.5px solid #EAEAEA;
        justify-content: space-between;
        padding: 0 5% 12px 5%;
        font-size: 1.1em;
        justify-content: center;
      }
    }
  }
}

.container-right {
  width: 100%;
}

.container-center, .container-right {
  flex-flow: column;
  align-items: center;
}

#large-list {
  padding: 30px 0;
  width: 100%;
  flex-flow: column;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 5px;

  .paragraph {
      flex-flow: column;
      width: 100%;
      padding: 0 10%;

      p {
        margin-bottom: 20px;
      }
  }

  .website-full {
      width: 100%;
      flex-flow: column;
      border-bottom: 0.5px solid #EAEAEA;
      padding: 0 5%;
      border-left: 2px solid white;
      border-right: 2px solid white;

      .website-single {
        width: 100%;
        justify-content: space-between;
        align-items: center;

      .website-name {
        width: 50%;
        padding: 12px 0;
      }

      .website-details {
        width: 10%;
        justify-content: flex-end;

        button {
          background: none;
          border: none;
        }

        button:focus {
          outline: 0;
        }

        img {
          padding-top: 10px;
          width: 20px;
          height: 20px;
        }
      }

      .website-monitor  {
        width: 10%;
        justify-content: flex-end;
      }

      .website-date {
        display: none;
      }

    }

    .website-expanded {
      flex-flow: column;
      align-items: flex-start;

      > a {
        color: rgb(100,100,100);
        margin-bottom: 10px;
      }

      > a:hover {
        text-decoration: underline;
      }

      .small-button {
        margin-bottom: 10px;
      }
    }
  }

  .website-full:nth-child(even) {
    background: @dark-grey;
    border-left: 2px solid @dark-grey;
    border-right: 2px solid @dark-grey;
  }

  .website-full:hover {
    color: @base;
    border-left: 2px solid @base;
    border-right: 2px solid @base;
  }

  .website-full:first-of-type:hover {
    color: @black;
    border-left: 2px solid white;
    border-right: 2px solid white;
  }

}

#search-website {
  flex-flow: column;
  padding: 30px 5%;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  margin-bottom: 30px;
  justify-content: space-between;
  align-items: center;

  h2 {
    margin-bottom: 20px;
  }

  #top-buttons {
    button {
      margin: 10px;
    }
  }

  .search-div {
    height: 40px;
    width: 80%;

    .search-form {
      width: 100%;

      .search-bar {
        width: 100%;
        justify-content: space-between;
        background: @dark-grey;

        input {
          flex: 10 1 50%;
          border: none;
          padding: 0 10px;
          background: none;
          outline: none;
        }

        button {
          border: none;
          width: 60px;
          justify-content: center;
          padding: 0;
          background: none;

          :hover {
            cursor: pointer;
          }

          img {
            width: 35%;
            height: auto;
          }
        }
      }
    }
  }
}

.single {
  width: 100%;
  flex-flow: column;
  background: #FFFFFF;
  align-items: center;
  margin-bottom: 20px;

  .single-text {
    width: 100%;
    border-bottom: 0.5px solid #EAEAEA;
    justify-content: space-between;
    padding: 20px 10%;
    font-size: 1.1em;
    justify-content: center;
  }

  .form-redirect {
    width: 80%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    button {
      width: 48%;
    }
  }

  .form-title {
    width: 80%;
    // margin: 20px 0;
    margin-top: 20px;
    justify-content: flex-start;

  }

  .form-small {
    flex-flow: column;
    width: 80%;
    padding: 10px 0;

    .form-group {
      justify-content: space-between;

      input {
        width: 100%;
      }

      input.half {
        width: 48%;
      }

      button {
        width: 100%;
        margin: 15px 0;
        font-size: 1.1em;
      }

      p {
        padding: 0 10px;
        margin-top: 30px;
      }

    }
  }
}

.big-input, .big-button {
  height: 45px;
  padding: 10px 15px;
  border-radius: 5px;
  outline: none;
}

.big-input {
  background: @dark-grey;
  margin-top: 15px;
  border: 1px solid @dark-grey;
}

.big-button {
  background: @base;
  font-size: 1.1em;
  justify-content: center;
}

.big-textarea {
  height: 200px;
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  font-size: 1em;
  background: @dark-grey;
  border: 1px solid @dark-grey;
  outline: none;
  border-radius: 5px;
}

.small-button {
  outline: none;
  border-radius: 5px;
  background: @base;
  font-size: 1em;
  justify-content: center;
  padding: 8px 12px;
}

button:hover, button:focus {
  cursor: pointer;
  color: white;

  a {
    color: white;
  }
}

input:focus, input:hover {
  border: 1px solid @base;
}

.switch{
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: @switchSize;
  height: calc(@switchSize / 2);
  border-radius: 60px;
  background-color: @base;

  .switch__toggle{
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  .switch__toggle:checked ~ .switch__label:before{
    transform: scale(0);
    opacity: .7;
  }

  .switch__toggle:checked ~ .switch__label:after{
    transform: translate3d(100%, -50%, 0);
  }

  .switch__toggle:checked ~ .switch__label {
    box-shadow: 0 0 0 1px white;
  }

  .switch__label{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    box-shadow: 0 0 0 1px @base;
    // somehow creates border;
  }

  .switch__label:before, .switch__label:after{
    content: "";
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: @body;
  }

  .switch__label:before{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 60px;
    transition: opacity .2s ease-out .1s, transform .2s ease-out .1s;
    transform: scale(1);
    opacity: 1;
  }

  .switch__label:after{
    top: 50%;
    z-index: 3;
    transition: transform .4s cubic-bezier(0.44,-0.12, 0.07, 1.15);
    width: calc(@switchSize / 2);
    height: calc(@switchSize / 2);
    transform: translate3d(0, -50%, 0);
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
  }
}

footer {
  width: 100%;
  padding: 30px 10%;
  background: @base;
  justify-content: space-between;
  margin-top: 30px;
  flex-wrap: wrap;

  .footer-column {
    padding-left: 10%;
    height: 100%;
    flex-flow: column;
    width: 50%;

    a {
      margin: 3px 0;
      font-size: 1.1em;
      color: white;
    }

    h1, h4 {
      color: white;
      margin: 15px 0;
    }

  }
}

/* Desktop Size */

@media (min-width: 1000px) {

  header {
    padding: 0 40px;

    #menu-left, #menu-right, #menu-center {
      display: flex;
    }

    #menu-mobile {
      display: none;
    }
  }

  .container-single {
    margin-top: 15vh;
  }

  .container-double {
    flex-flow: row;
    justify-content: space-around;

      .container-left {
        width: 55%;
        margin-top: 10px;

          h1.title {
            font-size: 3.5em;
          }

          p  {
            max-width: 400px;
            padding: 0;
          }

          p:first-of-type {
            margin: 50px 0 20px 0;
          }
      }
  }

  #two-thirds-page {
    padding: 40px 50px;
    flex-flow: row;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 80vh;

    #two-thirds-left {
      width: 65%;
    }

    .right-sidebar {
      width: 30%;
    }
  }

  .container-right {
    width: 45%;
  }

  #large-list {

    .website-full {

      .website-single {

        .website-date {
          display: flex;
          width: 30%;
          justify-content: flex-end;
        }

      }
    }

  }

  #search-website {
    flex-flow: row;

    h2 {
      margin-bottom: 0;
    }

    .search-div {
      width: 50%;
    }
  }

  .single {
    width: 500px;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
  }

  footer {
    padding: 30px 10%;
    margin-top: 50px;

    .footer-column {
      height: 100%;
      flex-flow: column;
      width: 25%;
    }
  }
}

body {
  display: block !important;
}
